html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
}

div#nav-sol{
    display: flex;
}

nav{
    background-color: rgba(0, 0, 0, 0.01);
    height: 60px;
}

li a{ 
    text-decoration: none;
    color: rgb(110, 110, 110);  
}

li a:hover{
    color: rgb(63, 63, 63);  
}
li{
    display: inline;
    margin-left:30px;
}
div #side{
    display: float;
    float: right;
    width: 600px;
    margin-top: 20px;
}
#blue{
    color: blue;
}
div#logo{
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
}

a#contact-btn{
    color:blue;
    border: 1px solid blue;
    padding: 10px; 
    border-radius: 15px;
}

a#contact-btn:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}
main{
    height: 60vh;
    padding: 0;

}
div#main-sec{
    display: flex;
    padding: auto auto;
    margin-top: 200px;
    margin-left: 150px;
    margin-right: auto;
}
#hero-text1{
    font-size: 60px;
    width: 600px;
}
#hero-p{
    width: 550px;
    line-height: 1.5em;
    font-weight: 200;
}
#side-hero{
  margin:0 80px;
}
#hero-img img{
    width: auto;
    height: 300px;
}

button#Hire-me{
    background-color: blue;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    width: 160px;
    font-size: 12pt;
    margin-top: 10px;
}
button#Hire-me:hover{
    opacity: 60%;
}
section.dub-mains{
    background-color: blue;
    background-image: url('./images/pngegg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left; 
    background-position-x: 500px;
    height: 60vh;
    display: flex;
    padding-top: 200px;
    padding-left: 100px;
    gap: 70px;
    
}
section.dub-mains #section1{
    width: 900px;
    background-color: white;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 70px 10px rgba(255, 255, 255, 0.171);
    
}
img#git-pix{
    margin-top: 30px;
}
img#git-pix p{
    font-weight: bolder;
}

p#Git{
    font-weight: bolder;
    margin-top: 20px;
    font-size: 30pt;
}
p#repo{
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
p#repo+p{
    font-size: 15pt;
    margin-top: 9px;
    margin-top: 10px;
}
#section2 h2{
    color: black;
    font-size: 40pt;
}
#section2 p{
    margin-top: 30px;
    line-height: 1.5em;
    width: 190px;
    color: black;
}
svg{
    position: absolute;
    width: auto;
    height: 200px;
    top: 50px;
    left: 30px;
}

svg#sv2{
    position: absolute;
    left: 1200px;
    top: 200px;
}

div#container{
    margin-top: 60px;
    margin-left: 25px;
    margin-right: auto;
    display: flex;
}
div.box{
    width: 400px;
    border: 2px solid rgba(0, 0, 0, 0.021);
    margin: 30px;
}

div#imgcard{
    background-color: blue;
}
div#imgcard img{
    width: 225px;
    height: 225px;
    margin-bottom: 30px;
    margin-left: 6rem;
    margin-right:auto;
    margin-top: 30px;
}

div#imgcard+h3{
    margin-top: 10px;
    margin-left: 20px;
}

div.box p{
    margin-top: 10px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 300px;
    margin-bottom: 40px;
}
section#last-sec{
   display: grid;
   gap: 40px;
}

img#check{
    display: inline-block;
    position: absolute;
    margin-top: -18px;
    margin-left: 330px;
}
div.progress-bar{
    width: 300px;
    background-color: rgb(98, 228, 98);
    margin-bottom: 30px;
    height: 10px;
    border-radius: 20px;    
}
div.ecaps{
    width: 350px;
    border: 0.5px solid rgba(128, 128, 128, 0.212);
    height: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-radius: 20px;
}
div.progress-bar p{
    display: inline;
    float: left;
}
div.secbar{
    width: 320px
}
div.thirdbar{
    width: 200px
}
div.contact{
    display: flex;
    gap: 50px;
    padding: auto auto;
    margin-top: 60px;
    margin-left: 60px;;
}
div#contact-left{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h1.blue{
    color: rgb(165, 165, 165);
    font-size: 30pt;
    margin-left: 130px;
}
h1.blue+p{
    width: 290px;
    line-height: 1.5em;
    margin-left: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div#contact-img{
    margin-right: 300px;
}
a img{
    width: auto;
    height: 40px;
    margin-top: 20px;
}
div#contact-left{
    align-items: center;
}
section#myReview{
    align-items: center;
    display: flex;
    margin-top: 190px;
    padding: 50px 0;
}
#rev{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
#rev h1{
    font-size: 30pt;
    color: grey;
}
#rev p{
    font-size: 25pt;
    font-weight: bold;
}
input#search-box{
    width: 500px;
    height: 40px;
    padding-left: 30px;
    margin-left: 0;
}

#rev button{
    background-color: greenyellow;
    border: none;
    width: 50px;
    height: 43px;
    margin-right: 0;
    position: absolute;

}
#rev img{
    width: auto;
    height: 20px;

}
button#cv{
    margin-top: 20px;
    width: 140px;
    margin-left: 0;
    color: white;
    position: initial;
}
footer{
    height: 280px;
    background-color: blue;
    padding-top: 50px;
    padding-left: 150px;
    color: rgba(255, 255, 255, 0.733);
    display: flex;
}
.noline li{
    display: Block;
    margin-bottom: 20px;
}
div.marge{
    margin-left: 130px;
}
li.bold{
    font-weight: Bold;
    color: white;
}